.footer {
  height: auto;
  background-color: $color-black;
  &__container {
    padding: 48px 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond(phone) {
      flex-direction: column-reverse;
      justify-content: center;
      gap: 32px;
    }
  }

  &__copyright {
    color: #ccc;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  &__logo {
    @include respond(phone) {
      order: 1;
    }
  }

  &__social-media {
    display: flex;
    gap: 1.6rem;
  }
}
