.header {
  position: relative;
  height: auto;
  width: 100%;
  background-image: url(../img/bg-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2.4rem;
    padding-bottom: 39.2rem;
    @include respond(phone) {
      padding-bottom: 4.8rem;
    }
  }
  .hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10rem;
    & .btn {
      @include respond(phone) {
        align-self: center;
        margin-bottom: 44px;
      }
    }
    @include respond(phone) {
      flex-direction: column;
      gap: 32px;
      align-items: center;
      text-align: center;
      padding-bottom: 4rem;
    }
  }
  .hero__text-box {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .hero__navigation {
    display: flex;
    align-items: end;
    gap: 24px;
  }
  .navigation-circle {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    line-height: 20px;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.6);
  }
  .active {
    width: 64px;
    height: 64px;
    border-color: $color-secondary;
    background-color: rgba(255, 238, 0, 0.2);
  }
}
