// COLORS
$color-primary: #0f70b7;
$color-primary-dark: #0e65a5;

$color-secondary: #ffed00;
$color-secondary-dark: #e6d500;
$color-grey-dark: #4a4240;
$color-light-gray: #fafbfc;

$color-white: #fff;
$color-black: #000;

$default-font-size: 1.6rem;
